<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <!--<context-param>-->
    <!--<param-name>contextConfigLocation</param-name>-->
    <!--<param-value>classpath:applicationContext.xml</param-value>-->
  <!--</context-param>-->
  <!--<listener>-->
    <!--<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
  <!--</listener>-->
  <!--<servlet>-->
    <!--<servlet-name>SpringMVC</servlet-name>-->
    <!--<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>-->
    <!--<init-param>-->
      <!--<param-name>contextConfigLocation</param-name>-->
      <!--<param-value>classpath:spring-*.xml</param-value>-->
    <!--</init-param>-->
    <!--<load-on-startup>1</load-on-startup>-->
    <!--<async-supported>true</async-supported>-->
  <!--</servlet>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>SpringMVC</servlet-name>-->
    <!--<url-pattern>/</url-pattern>-->
  <!--</servlet-mapping>-->
  <!--<filter>-->
    <!--<filter-name>CharacterEncodingFilter</filter-name>-->
    <!--<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>-->
    <!--<init-param>-->
      <!--<param-name>encoding</param-name>-->
      <!--<param-value>UTF-8</param-value>-->
    <!--</init-param>-->
  <!--</filter>-->
  <!--<filter-mapping>-->
    <!--<filter-name>CharacterEncodingFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
  <!--</filter-mapping>-->
  <!--<filter>-->
    <!--<filter-name>HiddenHttpMethodFilter</filter-name>-->
    <!--<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>-->
  <!--</filter>-->
  <!--<filter-mapping>-->
    <!--<filter-name>HiddenHttpMethodFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
  <!--</filter-mapping>-->


  <!--<welcome-file-list>-->
    <!--<welcome-file>/WEB-INF/views/login.jsp</welcome-file>-->
  <!--</welcome-file-list>-->

  <!--&lt;!&ndash;当页面出现以下错误代码的情况会对应跳转到相应的控制器&ndash;&gt;-->
  <!--<error-page>-->
    <!--<error-code>404</error-code>-->
    <!--&lt;!&ndash; 页面出现404错误会跳转到控制器/error/404 &ndash;&gt;-->
    <!--<location>/error/404</location>-->
  <!--</error-page>-->

  <!--<error-page>-->
    <!--<error-code>400</error-code>-->
    <!--&lt;!&ndash; 页面出现400错误会跳转到控制器/error/400 &ndash;&gt;-->
    <!--<location>/error/400</location>-->
  <!--</error-page>-->

  <!--<error-page>-->
    <!--<error-code>500</error-code>-->
    <!--&lt;!&ndash; 页面出现500错误会跳转到控制器/error/500 &ndash;&gt;-->
    <!--<location>/error/500</location>-->
  <!--</error-page>-->

  <!-- 编码过滤器 -->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- 配置DispatcherServlet -->
  <servlet>
    <servlet-name>SpringMVC</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <!-- 配置springMVC需要加载的配置文件-->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-*.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpringMVC</servlet-name>
    <!-- 匹配所有请求 -->
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>

  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.js</url-pattern>
    <url-pattern>*.css</url-pattern>
    <url-pattern>/assets/*</url-pattern>
    <url-pattern>/fonts/*</url-pattern>
    <url-pattern>/moban/*</url-pattern>
    <url-pattern>/shopimage/*</url-pattern>
    <url-pattern>/images/*</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>/WEB-INF/views/login.jsp</welcome-file>
  </welcome-file-list>
</web-app>